@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  background-color: cornflowerblue;
}

.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-top: 60px;
}

.flexbox {
  margin: 5px;
  padding: 20px;
}

.logo-img1 {
  margin-top: 40px;
  width: 500px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.title-logo {
  text-align: center;
  font-size: 60px;
  letter-spacing: 10px;
  color: white;
}

.notice{
  color: white;
  margin: 10px;
  font-size: 15px;
  cursor: pointer;
}

.slogon {
  text-align: center;
  color: white;
  margin-bottom: 40px;
}

.learn-more{
  width: 300px;
  padding: 15px;
  border-radius: 20px;
  background-color: white;
  letter-spacing: 3px;
  color: cornflowerblue;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.f2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.learn-more:hover {
  transform: scale(1.2);
  letter-spacing: 10px;
}

.logo-img1:hover {
  transform: scale(1.2);
}

